.containerHome {
  display: flex;
  flex-direction: column;
  background: #5b5e60 0% 0% no-repeat padding-box;
  z-index: -1;
}
/* info icon */
.infoHome {
  display: flex;
  text-align: right;
  justify-content: end;
  margin-top: 0.25rem;
  margin-left: 1.25;
  position: relative;
}
.infoIconHome {
  margin-right: 2.5rem;
  position: absolute;
  top: 11px;
}
/*  */
.container_tasks {
  display: flex;
  width: 76%;
  justify-content: space-between;
}
/* title for crads */
.container_toDo,
.container_doing,
.container_done {
  display: flex;
  background: #212529 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 6px;
  height: 6vh;
  align-items: center;
  justify-content: left;
  padding-left: 1rem;
  color: white;
}
.container_StatustoDo {
  display: flex;
  /* justify-content: space-around; */
  /* background-color: aqua; */
  width: 27%;
  height: 100vh;
  flex-direction: column;
  margin-left: 1rem;
}
.statusHome {
  margin-right: 1rem;
}
.fngNKW {
  text-transform: uppercase;
  margin-bottom: 10px !important;
}
.tasksCrad{
  display: flex;
  
}
