.containerCrad{
    display:flex;
/* flex-direction: column; */
height: 30vh;
/* width: 40vh; */
/* align-items: center; */
justify-content: space-between;
width: 70%;

}
.containerCrads{
    background: #212529 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 6px;
    margin-top: 0.5rem;
}
.cradH2{
width: 70%;
text-align: left;
font: normal normal medium 16px/24px HelveticaNeue;
letter-spacing: 0px;
color: #FFFFFF;
margin-left: 1rem;

}
.titleCrad,.valueCrad{
    flex-direction: column;
    display: flex;
align-items: center;
justify-content: space-evenly;
}
  

.tdTitleCrad{
    margin-left: 1rem;
    font: normal normal 100 12px/18px HelveticaNeue;
letter-spacing: 0px;
color: #6C757D;

}
.valueCrad{
    font: normal normal 300 14px/21px HelveticaNeue;
    letter-spacing: 0px;
    color: #FFFFFF;
}
